In [3]:
import pandas as pd

In [5]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")

   Food ID   Food Item  Price
0        1       Sushi   3.99
1        2     Burrito   9.99
2        3        Taco   2.99
3        4  Quesadilla   4.25
4        5       Pizza   2.49
5        6       Pasta  13.99
6        7       Steak  24.99
7        8       Salad  11.25
8        9       Donut   0.99
9       10       Drink   1.75

## The `pd.concat()` Method, Part 1

In [4]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")

In [7]:
len(week1)

250

In [8]:
len(week2)

250

In [10]:
len(pd.concat([week1, week2]))

500

## The `pd.concat()` Method, Part 2

In [6]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")

In [10]:
sales = pd.concat([week1, week2], keys = ["A", "B"])

In [14]:
sales.ix[("B", 240), "Customer ID"]

734

## The `.append()` Method

In [15]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")

In [19]:
sales = week2.append(week1, ignore_index = True)

## Inner Joins, Part 1

In [20]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")

In [21]:
week1.head(2)

   Customer ID  Food ID
0          537        9
1           97        4

In [22]:
week2.head(2)

   Customer ID  Food ID
0          688       10
1          813        7

In [28]:
week1.merge(week2, how = "inner", on = "Customer ID", suffixes = [" - A", " - B"])

    Customer ID  Food ID - A  Food ID - B
0           537            9            5
1           155            9            3
2           155            1            3
3           503            5            8
4           503            5            9
5           550            6            7
6           101            7            4
7            75            6            4
8            77            1            7
9            77            9            7
10           77            2            7
11           77            9            7
12          628            4            7
13          798            9            5
14          798            1            5
15          462            3            8
16          304            3            3
17          304            2            3
18          189            4            5
19          799            8            7
20           30            2            4
21          249            9            6
22          677           10            3
23          741            3            8
24          540            3            3
25          819            4            5
26          937           10           10
27          937           10            2
28          233            3            3
29           21            4            4
..          ...          ...          ...
32          816            7            2
33          761            9            2
34          761            9            3
35           80            2            4
36          479            6            3
37          922            1            1
38          922            1            2
39          909            1            6
40          909            4            6
41          919           10            8
42          574           10            9
43           45            7            8
44          529            7           10
45          673            7            4
46          310            2            5
47          310            1            5
48          867            9           10
49          968            1            4
50          482            3            1
51          163            1           10
52          321            1            3
53          783            6           10
54          578            5            5
55          578            5            5
56          520            8            7
57          945            5            4
58          343            3            5
59          343            3            2
60          343            3            7
61          621            9            6

[62 rows x 3 columns]

In [25]:
week1[week1["Customer ID"] == 155]

    Customer ID  Food ID
4           155        9
17          155        1

In [26]:
week2[week2["Customer ID"] == 155]

     Customer ID  Food ID
208          155        3

## Inner Joins, Part 2

In [65]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")

In [66]:
week1.head(2)

   Customer ID  Food ID
0          537        9
1           97        4

In [67]:
week2.head(2)

   Customer ID  Food ID
0          688       10
1          813        7

In [68]:
week1.merge(week2, how = "inner", on = ["Customer ID", "Food ID"])

   Customer ID  Food ID
0          304        3
1          540        3
2          937       10
3          233        3
4           21        4
5           21        4
6          922        1
7          578        5
8          578        5

In [71]:
week1[week1["Customer ID"] == 578]

     Customer ID  Food ID
224          578        5

In [72]:
week2[week2["Customer ID"] == 578]

     Customer ID  Food ID
29           578        5
189          578        5

## Outer Joins

In [77]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")

In [78]:
week1.head(2)

   Customer ID  Food ID
0          537        9
1           97        4

In [79]:
week2.head(2)

   Customer ID  Food ID
0          688       10
1          813        7

In [85]:
merged = week1.merge(week2, how = "outer", on = "Customer ID", suffixes = [" - Week 1", " - Week 2"],
            indicator = True)

In [88]:
merged["_merge"].value_counts()

right_only    197
left_only     195
both           62
Name: _merge, dtype: int64

In [92]:
mask = merged["_merge"].isin(["left_only", "right_only"])
merged[mask]

     Customer ID  Food ID - Week 1  Food ID - Week 2      _merge
1           97.0               4.0               NaN   left_only
2          658.0               1.0               NaN   left_only
3          202.0               2.0               NaN   left_only
6          213.0               8.0               NaN   left_only
7          600.0               1.0               NaN   left_only
10          71.0               3.0               NaN   left_only
11          71.0               8.0               NaN   left_only
12         174.0               3.0               NaN   left_only
13         961.0               9.0               NaN   left_only
14         966.0               5.0               NaN   left_only
15         641.0               4.0               NaN   left_only
16         288.0               2.0               NaN   left_only
17         149.0               4.0               NaN   left_only
18         954.0               2.0               NaN   left_only
19         147.0               9.0               NaN   left_only
20         147.0               8.0               NaN   left_only
23         549.0               6.0               NaN   left_only
25          78.0               7.0               NaN   left_only
26         514.0               5.0               NaN   left_only
27         833.0               7.0               NaN   left_only
28         833.0               3.0               NaN   left_only
29         329.0               8.0               NaN   left_only
30         586.0              10.0               NaN   left_only
31         341.0               1.0               NaN   left_only
32         519.0              10.0               NaN   left_only
33         680.0               9.0               NaN   left_only
34         419.0               7.0               NaN   left_only
35          20.0               1.0               NaN   left_only
36         822.0               6.0               NaN   left_only
37         226.0              10.0               NaN   left_only
..           ...               ...               ...         ...
424        622.0               NaN               9.0  right_only
425        959.0               NaN               4.0  right_only
426        959.0               NaN               2.0  right_only
427        810.0               NaN               2.0  right_only
428        488.0               NaN               2.0  right_only
429        188.0               NaN               8.0  right_only
430        305.0               NaN               2.0  right_only
431        869.0               NaN               7.0  right_only
432        131.0               NaN               1.0  right_only
433        208.0               NaN               4.0  right_only
434        145.0               NaN               5.0  right_only
435        794.0               NaN               6.0  right_only
436        734.0               NaN              10.0  right_only
437        734.0               NaN               1.0  right_only
438        735.0               NaN               2.0  right_only
439        940.0               NaN               8.0  right_only
440        571.0               NaN               7.0  right_only
441        888.0               NaN               2.0  right_only
442        664.0               NaN               6.0  right_only
443        143.0               NaN               4.0  right_only
444        505.0               NaN               3.0  right_only
445         54.0               NaN               8.0  right_only
446        367.0               NaN               8.0  right_only
447        883.0               NaN               8.0  right_only
448        251.0               NaN               9.0  right_only
449        855.0               NaN               4.0  right_only
450        559.0               NaN              10.0  right_only
451        276.0               NaN               4.0  right_only
452        556.0               NaN              10.0  right_only
453        252.0               NaN               9.0  right_only

[392 rows x 4 columns]

## Left Joins

In [98]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")

In [99]:
week1.head(3)

   Customer ID  Food ID
0          537        9
1           97        4
2          658        1

In [100]:
foods.head(3)

   Food ID Food Item  Price
0        1     Sushi   3.99
1        2   Burrito   9.99
2        3      Taco   2.99

In [103]:
week1 = week1.merge(foods, how = "left", on = "Food ID", sort = True)

In [104]:
week1.head()

   Customer ID  Food ID Food Item  Price
0          658        1     Sushi   3.99
1          600        1     Sushi   3.99
2          155        1     Sushi   3.99
3          341        1     Sushi   3.99
4           20        1     Sushi   3.99

## The `left_on` and `right_on` Parameters

In [105]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")

In [106]:
week2.head(3)

   Customer ID  Food ID
0          688       10
1          813        7
2          495       10

In [107]:
customers.head(3)

   ID First Name Last Name  Gender  Company                     Occupation
0   1     Joseph   Perkins    Male  Dynazzy  Community Outreach Specialist
1   2   Jennifer   Alvarez  Female     DabZ        Senior Quality Engineer
2   3      Roger     Black    Male  Tagfeed              Account Executive

In [111]:
week2 = week2.merge(customers, how = "left", left_on = "Customer ID", right_on = "ID", sort = True).drop("ID", axis = "columns")

In [112]:
week2.head()

,Customer ID,Food ID,First Name,Last Name,Gender,Company,Occupation
0,8,6,Frances,Adams,Female,Dabshots,Developer III
1,13,2,Ruth,Alvarez,Female,Twitterlist,Mechanical Systems Engineer
2,21,4,Albert,Burns,Male,Rhynoodle,Junior Executive
3,24,8,Donna,Thomas,Female,Jaxbean,Chief Design Engineer
4,27,4,Jessica,Bennett,Female,Twitternation,Account Executive

## Merging by Indexes with the `left_index` and `right_index` Parameters

In [118]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv", index_col = "ID")
foods = pd.read_csv("Restaurant - Foods.csv", index_col = "Food ID")

In [119]:
foods.head(3)

        Food Item  Price
Food ID
1           Sushi   3.99
2         Burrito   9.99
3            Taco   2.99

In [125]:
sales = week1.merge(customers, how = "left", left_on = "Customer ID", right_index = True)
sales = sales.merge(foods, how = "left", left_on = "Food ID", right_index = True)
sales.head(3)

,Customer ID,Food ID,First Name,Last Name,Gender,Company,Occupation,Food Item,Price
0,537,9,Cheryl,Carroll,Female,Zoombeat,Registered Nurse,Donut,0.99
1,97,4,Amanda,Watkins,Female,Ozu,Account Coordinator,Quesadilla,4.25
2,658,1,Patrick,Webb,Male,Browsebug,Community Outreach Specialist,Sushi,3.99

In [126]:
week1.head(3)

   Customer ID  Food ID
0          537        9
1           97        4
2          658        1

In [127]:
week2.head(3)

   Customer ID  Food ID
0          688       10
1          813        7
2          495       10

In [129]:
week1.merge(week2, how = "left", left_index = True, right_index = True, suffixes = [" - Week 1", " - Week 2"])

,Customer ID - Week 1,Food ID - Week 1,Customer ID - Week 2,Food ID - Week 2
0,537,9,688,10
1,97,4,813,7
2,658,1,495,10
3,202,2,189,5
4,155,9,267,3
5,213,8,310,5
6,600,1,761,2
7,503,5,443,5
8,71,3,729,9
9,174,3,741,8
10,961,9,847,6
11,966,5,156,10
12,641,4,550,7
13,288,2,620,10
14,149,4,272,4
15,954,2,511,2
16,147,9,8,6
17,155,1,534,7
18,550,6,909,6
19,101,7,732,9
20,549,6,372,4
21,75,6,713,1
22,78,7,496,3
23,514,5,381,9
24,833,7,13,2
25,329,8,101,4
26,586,10,325,7
27,341,1,674,2
28,519,10,564,8
29,680,9,578,5
...,...,...,...,...
220,147,8,495,2
221,745,4,794,6
222,184,3,734,10
223,828,8,540,3
224,578,5,735,2
225,491,4,940,8
226,62,4,571,7
227,77,9,888,2
228,506,9,664,6
229,271,9,343,7
230,584,10,143,4
231,148,5,505,3
232,595,3,54,8
233,274,10,959,2
234,646,1,367,8
235,520,8,883,8
236,644,8,251,9
237,725,8,855,4
238,934,4,233,3
239,151,10,559,10
240,945,5,734,1
241,343,3,677,3
242,380,9,276,4
243,911,4,45,8
244,621,9,945,4
245,413,9,783,10
246,926,6,556,10
247,134,3,547,9
248,396,6,252,9
249,535,10,249,6

## The `.join()` Method

In [3]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")
satisfaction = pd.read_csv("Restaurant - Week 1 Satisfaction.csv")

In [4]:
week1.head(3)

   Customer ID  Food ID
0          537        9
1           97        4
2          658        1

In [5]:
satisfaction.head(3)

   Satisfaction Rating
0                    2
1                    7
2                    3

In [9]:
week1.merge(satisfaction, how = "left", left_index = True, right_index = True).head()

   Customer ID  Food ID  Satisfaction Rating
0          537        9                    2
1           97        4                    7
2          658        1                    3
3          202        2                    7
4          155        9                   10

In [8]:
week1.join(satisfaction).head()

   Customer ID  Food ID  Satisfaction Rating
0          537        9                    2
1           97        4                    7
2          658        1                    3
3          202        2                    7
4          155        9                   10

## The `pd.merge()` Method

In [10]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")
satisfaction = pd.read_csv("Restaurant - Week 1 Satisfaction.csv")

In [11]:
week1.head(3)

   Customer ID  Food ID
0          537        9
1           97        4
2          658        1

In [12]:
customers.head(3)

   ID First Name Last Name  Gender  Company                     Occupation
0   1     Joseph   Perkins    Male  Dynazzy  Community Outreach Specialist
1   2   Jennifer   Alvarez  Female     DabZ        Senior Quality Engineer
2   3      Roger     Black    Male  Tagfeed              Account Executive

In [13]:
pd.merge(week1, customers, how = "left", left_on = "Customer ID", right_on = "ID")

,Customer ID,Food ID,ID,First Name,Last Name,Gender,Company,Occupation
0,537,9,537,Cheryl,Carroll,Female,Zoombeat,Registered Nurse
1,97,4,97,Amanda,Watkins,Female,Ozu,Account Coordinator
2,658,1,658,Patrick,Webb,Male,Browsebug,Community Outreach Specialist
3,202,2,202,Louis,Campbell,Male,Rhynoodle,Account Representative III
4,155,9,155,Carolyn,Diaz,Female,Gigazoom,Database Administrator III
5,213,8,213,Keith,Foster,Male,Gigashots,VP Quality Control
6,600,1,600,Sandra,Bailey,Female,Jaxnation,Sales Associate
7,503,5,503,Justin,Daniels,Male,Oloo,Environmental Tech
8,71,3,71,Carolyn,Reyes,Female,Twimbo,Safety Technician IV
9,174,3,174,Anna,Miller,Female,Innojam,Developer I
10,961,9,961,Ralph,Richards,Male,Thoughtstorm,Accountant I
11,966,5,966,Robert,Ford,Male,Jabbertype,Account Representative IV
12,641,4,641,Donna,Gutierrez,Female,Dabtype,Assistant Professor
13,288,2,288,Kenneth,Jackson,Male,Voomm,Associate Professor
14,149,4,149,Jennifer,Oliver,Female,Topiclounge,Database Administrator III
15,954,2,954,Thomas,Perkins,Male,Roodel,Account Executive
16,147,9,147,Theresa,Morales,Female,Abata,Occupational Therapist
17,155,1,155,Carolyn,Diaz,Female,Gigazoom,Database Administrator III
18,550,6,550,Walter,Miller,Male,Yata,Payment Adjustment Coordinator
19,101,7,101,Jeremy,Nelson,Male,Brainlounge,Web Developer IV
20,549,6,549,Harold,Rivera,Male,Topdrive,Cost Accountant
21,75,6,75,Catherine,Carpenter,Female,Zoozzy,Marketing Manager
22,78,7,78,Robert,Kennedy,Male,Edgewire,Chemical Engineer
23,514,5,514,Jack,Hill,Male,Blogtags,Assistant Professor
24,833,7,833,Carolyn,Dunn,Female,Yadel,Recruiter
25,329,8,329,Amanda,Nguyen,Female,Meezzy,Associate Professor
26,586,10,586,Doris,Mcdonald,Female,Youfeed,Marketing Assistant
27,341,1,341,Rachel,Robinson,Female,Twinder,Safety Technician IV
28,519,10,519,Lillian,Rogers,Female,Eazzy,Paralegal
29,680,9,680,Irene,Gordon,Female,Voolith,Database Administrator II
...,...,...,...,...,...,...,...,...
220,147,8,147,Theresa,Morales,Female,Abata,Occupational Therapist
221,745,4,745,Nicole,Garza,Female,Topiczoom,General Manager
222,184,3,184,Jesse,Edwards,Male,Zoombeat,Administrative Officer
223,828,8,828,Mary,Payne,Female,Oyonder,Assistant Media Planner
224,578,5,578,Donald,Matthews,Male,Fiveclub,Physical Therapy Assistant
225,491,4,491,Anna,Perkins,Female,Zazio,Quality Engineer
226,62,4,62,Andrew,Tucker,Male,Leenti,Structural Analysis Engineer
227,77,9,77,Lori,Edwards,Female,Dabvine,Sales Representative
228,506,9,506,Mildred,Mendoza,Female,Vitz,Environmental Tech
229,271,9,271,Beverly,Ward,Female,Brainbox,Automation Specialist II
230,584,10,584,Jeffrey,Simmons,Male,Flipstorm,Chemical Engineer
231,148,5,148,Patricia,Reid,Female,Shuffledrive,Analog Circuit Design manager
232,595,3,595,Bruce,Kennedy,Male,Mydo,Recruiter
233,274,10,274,Gary,Reid,Male,Fivespan,Executive Secretary
234,646,1,646,Wanda,Lane,Female,Twiyo,Help Desk Technician
235,520,8,520,Melissa,Wallace,Female,Skyvu,Administrative Officer
236,644,8,644,Louis,Brooks,Male,Nlounge,VP Quality Control
237,725,8,725,Carol,Russell,Female,BlogXS,Pharmacist
238,934,4,934,Joseph,Burton,Male,Leexo,Compensation Analyst
239,151,10,151,Brandon,Oliver,Male,Voomm,Internal Auditor
240,945,5,945,Anne,Reed,Female,Twitterworks,Director of Sales
241,343,3,343,Joe,Price,Male,Fanoodle,Marketing Manager
242,380,9,380,Martha,Payne,Female,Quinu,Assistant Media Planner
243,911,4,911,Patrick,Reed,Male,Jabberstorm,Senior Quality Engineer
244,621,9,621,Amy,Long,Female,Skidoo,Research Associate
245,413,9,413,Diane,Bailey,Female,Wikibox,Technical Writer
246,926,6,926,Anne,Wagner,Female,Skyba,Legal Assistant
247,134,3,134,Diana,Hall,Female,Quinu,Financial Advisor
248,396,6,396,Juan,Romero,Male,Zoonder,Analyst Programmer
249,535,10,535,Nancy,Cox,Female,Trudeo,Research Associate